:root {
	/*font sizes*/
	/*desktop sizes*/
	--gigaHeadingFontSize: 70px;
	--plusSizeFont: 60px;
	--bigSizeFont: 50px;
	--mediumSizeFont: 40px;

	/*tablet sizes*/
	--titleFontSize: 25px;
	--releaseTitleFontSize: 35px;
	--releaseSubtitleFontSize: 27px;
	--releaseTextFontSize: 22px;
	--subTitleFontSize: 18px;
	--defaultFontSize: 16px;

	/*mobile sizes*/

	/*font weights*/
	--blackFontWeight: 900;
	--extraBoldFontWeight: 800;
	--boldFontWeight: 700;
	--semiBoldFontWeight: 600;
	--regularFontWeight: 400;
	--lightFontWeight: 300;
	--extraLightFontWeight: 200;

	/*colors*/
	--redColor: #F5515B;
	--orangeColor: #F97C00;
	--yellowColor: #FFE152;
	--greenColor: #00C29B;
	--blueColor: #445581;
	--grayColor: #383838;
	--blueGrayColor: #2F4858;
	--mediumGrayColor: #748EA0;
	--lightGrayColor: #f5f5f5;


	/*gradients*/
	--linearGradientRedtoOrangeTypeOne: linear-gradient(to right bottom, #f5515b, #fa594c, #fd633b, #fc6f26, #f97c00);
	--linearGradientRedtoOrangeTypeTwo: linear-gradient(to right bottom, #eb9928, #f28732, #f7753e, #f8634c, #f5515b);
	--linearGradientRedtoYellowtoOrange: linear-gradient(to right top, #f5515b, #ff6c4f, #ff8846, #ffa341, #ffbe43, #ffc240, #ffc53c, #ffc939, #feb728, #fda417, #fb9007, #f97c00);
	--linearGradientYellowtoOrange: linear-gradient(to right bottom, #ffe152, #ffc939, #feb122, #fc970c, #f97c00);
	--radialGradientYellowtoOrange: radial-gradient(circle, #ffe152, #ffc939, #feb122, #fc970c, #f97c00);
}


body, html {
	scroll-behavior: smooth;
}

html, body, div, input, p, span, h1, h2, h3, h4, h5, ul, li, header, section, select, article, button, a, textarea {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: transparent;
	font-family: 'Blinker', sans-serif;
	font-weight: var(--regularFontWeight);
	font-size: var(--defaultFontSize);
	/*line-height: 1.4;*/
	text-decoration: none;
	transition: 0.5s ease all;
}

 p, span, h1, h2, h3, h4, h5 {
 	color: var(--blueGrayColor);
 }

amp-img {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background-color: transparent;
}

button, a, input[type="submit"] {
	cursor: pointer;
}

.cta {
	background: var(--linearGradientYellowtoOrange);
	padding: 20px;
	grid-column: 1 / -1;
	align-self: center;
	justify-self: center;
	align-items: center;
	grid-template-columns: 1fr 30px;
	border-radius: 7px;
	grid-gap: 10px;
	box-shadow: 0 17px 40px rgba(0,0,0,.5);
}

a span {
	font-size: var(--releaseSubtitleFontSize);
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

a svg {
	grid-row: 1 / 2;
	grid-column: 2 / -1;
	justify-self: end;
}

.cta:hover {
	transform: scale(0.99);
	box-shadow: 0 0px 20px rgba(0,0,0,.7);
}

.boxModel {
	position: relative;
	box-sizing: border-box;
	display: block;
}

.boxModelFlex {
	position: relative;
	box-sizing: border-box;
	display: flex;
}

.boxModelGrid {
	position: relative;
	box-sizing: border-box;
	display: grid;
}








/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: var(--redColor);
}

/* selected link */
a:active {
  color: var(--redColor);
}



























/*div container*/
.content {
	overflow-x: hidden;
	max-width: 2000px;
	margin: 0 auto;
	flex-direction: column;
}

.colors {
	flex-wrap: wrap;
}

.colors .block {
	width: 200px;
	height: 100px;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
}




















































/*header*/

.header {
	grid-template-columns: repeat(5, 1fr);
	z-index: 2;

}

.logoHeader {
	/*justify-self: center;*/
	align-self: start;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin: 20px;
}

.headerMenu {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	justify-content: space-around;
	z-index: 2;
	align-self: center;
}

.HamburgerMenuIcon {
	grid-column: 3 / -1;
	grid-row: 1 / 2;
	z-index: 2;
	justify-self: center;
	align-self: center;
	display: none;
	cursor: pointer;

}

.iconLogo {
	grid-column: 1 / -1;
	grid-row: 1 / 4;
}

.header a {
	grid-row: 3 / 4;
}

.heroImgWrapper {
	grid-column: -4 / -1;
	grid-row: 2 / 3;
	z-index: 2;
	max-width: 1149px;
	height: auto;
	align-self: center;
}

.heroTexts {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	flex-direction: column;
	z-index: 3;
}

.heroTexts h1 {
	font-size: var(--plusSizeFont);
	text-align: center;
	font-weight: var(--extraLightFontWeight);
	max-width: 800px;
	align-self: center;
}

.heroTexts h2 {
	margin-top: 16vh;
	font-size: var(--gigaHeadingFontSize);
	font-weight: var(--boldFontWeight);
	text-align: center;
}

.headerVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.loginHeaderForm {
	position: relative;
	flex-direction: column;
	width: 100%;
	max-width: 550px;
	min-width: 200px;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	margin-top: 50px;
	justify-self: center;
}

.loginHeaderForm h1 {
	text-align: center;
	font-size: 30px;
}

.registroText {
	text-align: center;
	margin-top: 20px;
	color: var(--mediumGrayColor);
}

.registroText a {
	cursor: pointer;
	font-weight: 600;
	color: var(--mediumGrayColor);
}

.registroText a:hover {
	color: var(--redColor);
}









/*section 2*/

.section2 {
	-webkit-clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
	background-color: var(--blueGrayColor);
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 200px;
	z-index: 3;
	grid-column: 1 / -1;
	grid-row: 3 / 5;
	margin-top: 100px;
}

.section2Registro {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
	background-color: var(--blueGrayColor);
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 200px;
	z-index: 3;
	grid-column: 1 / -1;
	grid-row: 3 / 5;
	padding-top: 0px;
	margin-top: 0;
	z-index: 200;
}

.section2 amp-vimeo {
	grid-column: -2 / -1;
	max-width: 739px;
	margin: 30px;
	margin-right: 30px;
}

.section2Wrapper {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	flex-direction: column;
	margin-top: 40px;
	z-index: 20;
}

.section2Wrapper span {
	color: #fff;
	font-size: var(--plusSizeFont);
	font-weight: var(--extraLightFontWeight);
	align-items: center;
	line-height: 2;
}

.section2Wrapper span::before {
	content: "";
	width: 100px;
	height: 30px;
	background-color: var(--greenColor);
	position: relative;
	display: block;
	margin-right: 9px;
}








































/*section 3 */

.section3 {
	grid-template-columns: repeat(2, 1fr);
	z-index: 4;
	top: 1px;
}

.chatImgWrapper {
	top: -100px;
	max-width: 400px;
	grid-column: 2 / -1;
	grid-row: 1 / 3;
	z-index: 4;
	filter: none;
	width: 100%;
	justify-self: center;
	align-self: start;
}

.section3Texts {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	margin-left: 30px;
	flex-direction: column;
}

.section3Texts h1 {
	font-size: var(--plusSizeFont);
	font-weight: var(--boldFontWeight);
	text-align: center;
}

.section3Texts h2 {
	font-size: var(--plusSizeFont);
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}

.stripImg {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	z-index: 2;
}

.section3Backdrop {
	-webkit-clip-path: polygon(70% 50%, 100% 10%, 100% 100%, 0 100%, 0 65%);
	clip-path: polygon(70% 50%, 100% 10%, 100% 100%, 0 100%, 0 65%);
	width: 100%;
	height: 100%;
	background-color: var(--blueGrayColor);
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	z-index: 1;
}

.section3 h1 {
	font-size: 40px;
	color: #fff;
}

.section3BlockText {
	background-color: var(--blueGrayColor);
	align-items: center;
	justify-content: center;
	grid-template-columns: 80px auto;
	grid-column-gap: 20px;
	padding: 30px;
}

.section3BlockText:last-child svg {
	grid-row: 1 / 3;
}

.section3BlockText amp-img {
	max-width: 200px;
	width: 100%;
	align-self: center;
	justify-self: center;
	grid-column: -1 / -2;
}

























.section4 {
	background-color: var(--blueGrayColor);
	border: 4px solid var(--blueGrayColor);
	grid-template-columns: 1.7fr 1fr;
	z-index: 5;
}

.easyMockupImg {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	bottom: 200px;
	width: 100%;
	height: auto;
	align-self: center;
	justify-self: center;
	margin-bottom: 80px;
	z-index: 2;
}

.section4Texts {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	align-self: center;
	justify-self: center;
	z-index: 2;
}

.section4TextUnit {
	color: var(--greenColor);
	font-size: var(--plusSizeFont);
	font-weight: var(--lightFontWeight);
	margin-bottom: 60px;
	text-align: center;
}

.section4TextUnit::after {
	content: "";
	width: 200px;
	height: 5px;
	background-color: var(--redColor);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
}

.section4Backdrop {
	z-index: 1;
	width: 100%;
	background-color: var(--blueGrayColor);
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.section4 .cta {
	grid-column: 1 / -1;
	grid-row: 2 / 4;
	position: relative;
	z-index: 3;
}











































.section5 {
	grid-template-columns: 1fr 2.6fr;
	grid-row-gap: 40px;
	background-image: url(../img/bg2.jpg);
	background-origin: border-box;
	background-position: center left;
	background-size: cover;
}

.section5TopSvg {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.section5Spacer {
	height: 200px;
}

.section5Arrows {
	top: -13%;
}

.section5Logo,
.section5Text,
.chartIconsWrapper {
	grid-column: 2 / 3;
	justify-self: center;
}

.section5Logo {
	width: 90%;
	max-width: 650px;
}

.section5Text {
	font-size: var(--releaseTitleFontSize);
	text-align: center;
	width: 90%;
	max-width: 700px;
}

.chartIconsWrapper {
	grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
	justify-self: center;
	align-items: center;
	padding: 20px;
	background-color: rgba(0,194,155,.7);
	border-radius: 6px;
}

.section5Arrows {
	justify-self: center;
}

.chartUnit {
	flex-direction: column;
	align-items: center;
}

.chartUnit span { 
	font-size: var(--titleFontSize);
	font-weight: var(--semiBoldFontWeight);
}

.section5BottomShape {
	position: absolute;
	display: block;
	width: 300px;
	height: 300px;
	background-color: var(--greenColor);
	bottom: -150px;
	right: -150px;
	transform: rotate(45deg);
}












































.ballsSvg {
	width: 40vw;
	justify-self: end;
}

.section6TextWrapper {
	background-color: var(--blueGrayColor);
	border-radius: 30px 0 0 0;
	padding: 20px;
	width: 60vw;
	left: 10vw;
	top: 10vw;
	z-index: 2;
}

.section6TextWrapper h4 {
	color: var(--greenColor);
	font-size: 55px;
}

.section6TextWrapper h4 strong {
	color: #fff;
}

.section6TextWrapper h4::first-line {
	left: 40px;
}




















































.section7 {
	margin: 100px 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 40px;
	padding: 0 20px;
}

.section7 p {
	grid-column: 1 / -1;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.5;
	font-size: 22px;
}

.section7::before {
	content: "";
	width: 40vw;
	height: 8px;
	background-color: var(--greenColor);
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.section7 h1 {
	font-size: var(--plusSizeFont);
	text-align: center;
	margin: 20px auto 0 auto;
	grid-column: 1 / -1;
}

.planosAccordion {
	width: 100%;
}

.planosAccordionSection {
	flex-direction: column;
	align-items: center;
}

.planosWrapper {
	grid-column: 1 / -1;
}

.i-amphtml-accordion-header {
	background-color: transparent;
	border: none;
	height: auto;
	min-height: 85px;
}


.i-amphtml-accordion-header:hover {
	box-shadow: 0 0 40px rgba(0,0,0,.2);
}

.accordionLogoWrapper {
	width: 100%;
	min-height: 100px;
	padding: 20px 20px 10px 20px;
}

.accordionLogoWrapper:hover {
	box-shadow: 0 0 40px rgba(0,0,0,.2);
}

.planoPocket {
	grid-template-columns: auto 30px auto;
	width: 90%;
	max-width: 1400px;
	margin: 0 auto 100px auto;
}

.planoPocketWrapper {
	z-index: 1;
	width: 100%;
}

.planoPocketWrapper p {
	margin: 30px auto;
	text-align: justify;
}

.planoPocketWrapper ul li {
	border: 1px solid var(--lightGrayColor);
	margin: 7px 0;
	padding: 10px;
	grid-template-columns: 20px 1fr;
	grid-column-gap: 7px;
}

.logoContrato {
	width: 100%;
	max-width: 400px;
	justify-self: center;
	align-self: center;
	margin: 0 auto;
}

.planosWrapperLeft h2 {
	text-align: center;
	font-size: var(--releaseSubtitleFontSize);
}

.planosWrapperLeft p {
	margin-top: 20px;
	text-align: center;
	font-size: var(--subTitleFontSize);
	line-height: 1.5;
	border-bottom: 1px solid var(--mediumGrayColor);
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: var(--mediumGrayColor);
}

.planosWrapperLeft ul li {
	text-align: center;
	line-height: 2.5;
	font-size: var(--releaseTextFontSize);
	color: var(--mediumGrayColor);
}

.i-amphtml-accordion-content {
	padding: 30px;
}

.planosWrapperRight {
	align-items: start;
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	padding-top: 20px;
}

.planoPersolnalizado {
	flex-direction: column;
	margin-top: 20px;
}

.planoPersolanizadoRangeWrapper {
	width: 100%;
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 0px 40px rgba(0,0,0,.2);
	justify-self: center;
	border-radius: 7px;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	grid-gap: 30px;
	margin-top: 20px;
	padding: 20px;
}

.arrowDownPlanosWrapper {
	margin: 0 auto;
	top: -10px;
	opacity: 0;
	animation-name: arrowDownAnime;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	align-items: center;
	justify-content: center;
}

@keyframes arrowDownAnime {
	to {
		top: 10px;
		opacity: 1;
	}
}

.planoPersolanizadoRangeWrapper * {
	grid-column: 1 / -1;
}

.planoPersolanizadoRangeWrapper p {
	text-align: center;
}

.planoPocketWrapper ul li {
	align-items: center;
	justify-content: center;
}

.planoPocketWrapper ul li svg {
	grid-row: 1;
}

.planoPocketWrapper ul li span {
	grid-column: 2 / -1;
	grid-row: 1;
	font-size: 20px;
	color: var(--greenColor);
}

.rangeWrapper {
	grid-gap: 10px;
	border: 1px solid #efefef;
	border-radius: 6px;
	padding: 20px;
}

.rangeWrapper:nth-of-type(2) .rangeList h4:not(:first-child),
.rangeWrapper:nth-of-type(3) .rangeList h4:not(:first-child),
.rangeWrapper:nth-of-type(4) .rangeList h4:nth-of-type(3),
.rangeWrapper:nth-of-type(4) .rangeList h4:nth-of-type(4),
.rangeWrapper:nth-of-type(5) .rangeList h4:nth-of-type(4),
.rangeWrapper:nth-of-type(7) .rangeList h4:not(:first-child) {
	transform: translateX(10px);
}

h4 {
	color: #00C29B;
}

.rangeList h4 {
	font-size: 20px;
}

.rangeWrapper:nth-of-type(7) .rangeList h4:nth-of-type(2) {
	transform: translateX(5px);
}

.rangeWrapper:nth-of-type(7) .rangeList h4:nth-of-type(3) {
	transform: translateX(6px);
}

.rangeWrapper:nth-of-type(7) .rangeList h4:nth-of-type(4) {
	transform: translateX(6px);
}

.rangeWrapper:nth-of-type(8) .rangeList h4:nth-of-type(2) {
	transform: translateX(18px);
}

.rangeWrapper:nth-of-type(8) .rangeList h4:nth-of-type(3) {
	transform: translateX(10px);
}

.rangeWrapper:nth-of-type(2) .rangeList h4:last-child,
.rangeWrapper:nth-of-type(3) .rangeList h4:last-child,
.rangeWrapper:nth-of-type(7) .rangeList h4:last-child {
	transform: translateX(0px);
}

.rangeTitle {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.planoPersolanizadoRangeWrapper p {
	text-align: center;
	font-size: 23px;
}

.ctaPlanos {
	background: var(--linearGradientYellowtoOrange);
	padding: 10px;
	grid-column: 1 / -1;
	align-self: center;
	justify-self: center;
	align-items: center;
	grid-template-columns: 1fr 20px;
	border-radius: 7px;
	grid-gap: 10px;
}

.ctaPlanos  span {
	font-size: 20px;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.ctaPlanos:hover {
	transform: scale(0.99);
	box-shadow: 0 0px 20px rgba(0,0,0,.7);
}

.planoBasicoBlock {
	width: 70%;
	background-color: #fff;
	z-index: 2;
	padding: 15px;
	box-shadow: 0 0px 40px rgba(0,0,0,.2);
	align-self: start;
	justify-self: center;
	border-radius: 7px;
	padding-bottom: 50px;
	grid-row: 2 / 3;
	grid-column: -2 / -1;
}

.formLine {
	flex-direction: column;
	width: 100%;
	min-width: 280px;
}

.planoForm {
	margin: 20px auto;
}

/*slider range*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 100;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  background: var(--greenColor);
  cursor: pointer;
  pointer-events: all;
  z-index: 200;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  pointer-events: all;
  z-index: 200;
}

.rangeList {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
    margin-top: 6px; 
    color: var(--greenColor);
}









.rangeLegenda {
	font-size: 16px;
	text-align: center;
	width: 90%;
	max-width: 900px;
	color: var(--mediumGrayColor);
	align-self: center;
	justify-self: center;
}





















.footer {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 200px 100px 500px auto auto;
	overflow: hidden;
}

.footerRegistro {
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
}

.ballsSvgFooter {
	width: 60%;
	justify-self: center;
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}

.footerImgWrapper {
	grid-column: 1 / 3;
	grid-row: 2 / 4;
	z-index: -1;
}

.polyClipSvg {
	grid-column: 2 / -1;
	grid-row: 3 / 4;
	align-self: end;
	top: 30px;
}

.imaxFooter {
	position: absolute;
	grid-column: 1 / -1;
	background-color: var(--blueGrayColor);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	margin-bottom: 10px;
	border-top: 1px solid var(--mediumGrayColor);
	width: 100%;
	padding-top: 20px;
	align-items: center;
	justify-content: center;
}

.imaxFooter amp-img {
	width: 80px;
}

.imaxFooter p {
	color: var(--greenColor);
	margin-right: 7px;
}

.formFooterWrapper {
	grid-row: 5 / 6;
	grid-column: 1 / -1;
	background-color: var(--blueGrayColor);
	outline: 2px solid var(--blueGrayColor);
}

.footerTextIconWrapper {
	background-color: var(--blueGrayColor);
	justify-self: center;
	align-self: center;
	position: absolute;
	bottom: 90%;
	padding: 20px;
	border-radius: 50%;
}

.footerTextWrapper {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	background-color: var(--blueGrayColor);
	justify-self: center;
	align-self: center;
	flex-direction: column;
	padding: 40px;
	padding-bottom: 100px;
}

.footerTextWrapper p {
	color: #fff;
	text-align: center;
	border-radius: 5px;
	border: 1px solid var(--grayColor);
	padding: 10px;
	line-height: 1.6;
}

.footerTextWrapper a {
	text-align: center;
}

.footerTextWrapper h3 {
	font-size: 20px;
	text-align: center;
	color: var(--greenColor);
	line-height: 1.5;
	letter-spacing: 1px;
}

.formFooterWrapper {
	grid-column: 1 / -1;
}

.formFooterWrapper h1 {
	color: var(--greenColor);
	font-size: var(--releaseTitleFontSize);
	text-align: center;
}

.footerTextWrapper h1 {
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin: 30px auto;
}

.footerLogos {
	grid-column: -2 / -1;
	grid-row: 4 / 5;
	flex-direction: column;
	background-color: var(--blueGrayColor);
	justify-content: space-around;
	align-items: center;
	padding-bottom: 100px;
}

.footerLogos amp-img {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
}

.footerLogos amp-img:last-child {
	width: 70%;
	max-width: 200px;
	margin: 0 auto;
}
















.formContainer {
	grid-template-columns: repeat(3, 1fr);
	margin-top: 40px;
	grid-gap: 60px;
	width: 90%;
	margin: 50px auto 0 auto;
}

.formLine input {
	width: 100%;
	border-bottom: 2px solid var(--greenColor);
	font-size: 20px;
	letter-spacing: 1px;
}

.sendBtn {
	grid-column: 1 / -1;
	font-size: var(--titleFontSize);
	background-color: var(--greenColor);
	justify-self: center;
	padding: 10px;
}

.sendBtn:hover {
	background-color: var(--mediumGrayColor);
}

.formLine input:focus {
	border-bottom: 2px solid var(--redColor);
}




















/*mobile menu*/

.mobileMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	background-color: var(--blueGrayColor);
	flex-direction: column;
	pointer-events: none;
}

.mobileMenuCloseBtn {
	position: absolute;
	right: 0;
	margin: 20px;
	top: 0;
	cursor: pointer;
	pointer-events: all;
}

.mobileMenuBtnsWrapper {
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.mobileMenuBtnsWrapper a {
	color: #fff;
	font-size: var(--releaseSubtitleFontSize);
	font-weight: var(--extraLightFontWeight);
	align-items: center;
	line-height: 3;
	pointer-events: all;
}

.mobileMenuBtnsWrapper a::before {
	content: "";
	width: 80px;
	height: 20px;
	background-color: var(--greenColor);
	position: relative;
	display: inline-block;
	margin-right: 9px;
}

.mobileMenuLogo {
	width: 80%;
	align-self: center;
	justify-self: center;
	max-width: 500px;
	margin: 50px auto;
}

.loginModalBg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
	align-items: center;
	justify-content: center;
	z-index: 400;
}

.loginModalContainer {
	width: 90%;
	max-width: 700px;
	position: relative;
	/*background-color: #fff;*/
	/*box-shadow: 0 0 60px black;*/
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 90px auto;
}

.loginModalBgImg {
	position: absolute;
	width: 90%;
}

.closeLoginModalBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
	cursor: pointer;
}

.loginDataForm {
	grid-row: 1 / 3;
	grid-column: 1 / -1;
	width: 80%;
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	flex-direction: column;
}

.loginLine {
	width: 70%;
	margin: 10px auto;
	grid-template-columns: 60px 1fr;
	grid-gap: 10px;
	align-items: center;
	justify-content: center;
}

.loginLine p {
	text-align: right;
}

.iconLogoLogin {
	grid-row: 2 / 4;
	grid-column: 1 / -1;
	pointer-events: none;
}

.loginDataForm h1 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.loginLine input {
	border-bottom: 1px solid var(--orangeColor);
	flex-grow: 1;
}

.loginLine input:focus {
	border-bottom: 1px solid var(--greenColor);
}

.loginEntrarBtn {
	margin: 30px auto 0 auto;
	font-size: 20px;
	background: var(--linearGradientYellowtoOrange);
	padding: 10px;
	cursor: pointer;
}

.lostPasswordBtn {
	text-align: center;
	font-size: 12px;
}

.loginEntrarBtn:hover {
	background: var(--redColor);
}

.loginModalRegistro {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
}

.loginModalRegistro a {
	color: #fff;
}

.loginModalRegistro a:hover {
	color: black;
}















































.headerScroll {
	grid-template-columns: 200px 1fr auto;
	padding: 6px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: #fff;
	justify-content: stretch;
	width: 100%;
	align-items: center;
	grid-gap: 40px;
	top: -150%;
	box-shadow:
		0 4px 4px rgba(0, 0, 0, .1),
		0 8px 8px rgba(0, 0, 0, .1),
		0 16px 16px rgba(0, 0, 0, .1),
		0 32px 32px rgba(0, 0, 0, .15),
		0 64px 64px rgba(0, 0, 0, .15);
}

.headerMenuScroll {
	justify-content: space-around;
	grid-column: -1 / -3;
}

.HamburgerMenuScrollIcon {
	display: none;
}

























.scrollTotopBtn {
	position: fixed;
	background-color: var(--greenColor);
	bottom: -100px;
	right: 20px;
	padding: 10px;
	z-index: 500;
	cursor: pointer;
}




















.section2Registro {
	background-color: #fff;
	grid-template-columns: 1fr 0.8fr 1fr;
	align-items: center;
	padding-bottom: 0;
	margin-bottom: -1px;
}













.section2Texts {
	grid-column: 1 / 3;
	grid-row: 1;
	z-index: 3;
	width: 100%;
	max-width: 800px;
	align-self: center;
	padding: 30px 70px 30px 30px;
	/*justify-self: center;*/
	-webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
	background: var(--linearGradientYellowtoOrange);
}

.section2Texts h1 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	font-weight: 600;
}

.section2Texts p {
	line-height: 1.5;
	font-size: 22px;
}

.section2Registro amp-img {
	grid-column: -1 / -3;
	grid-row: 1;
}










































.section4Registro {
	grid-template-columns: 1fr 0.8fr 1fr;
	align-items: center;
	padding-bottom: 0;
	margin-bottom: -1px;
	background-image: url(../img/2442402.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}

















.section4RegistroTexts {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 12% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 12% 100%);
	grid-column: -1 / -3;
	grid-row: 1;
	z-index: 3;
	width: 100%;
	max-width: 800px;
	align-self: center;
	padding: 30px 30px 30px 90px;
	background: var(--linearGradientYellowtoOrange);
	margin: 60px 0 60px auto;
}

.section4RegistroTexts h1 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	font-weight: 600;
}

.section4RegistroTexts p {
	line-height: 1.5;
	font-size: 22px;
	text-align: right;
}

.section4Registro ul {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	grid-column: -1 / -3;
	padding: 30px;
	background-color: var(--blueGrayColor);
}

.section4Registro ul li {
	grid-template-columns: 25px 1fr;
	grid-gap: 6px;

}

.section4Registro ul li span {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}












































.sectionAtencao {
	grid-template-columns: repeat(2, 1fr);
	padding: 50px;
	grid-gap: 30px;
}

.atencaoTexts {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.atencaoTexts h1 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.sectionAtencao .atencaoTexts p {
	align-self: flex-start;
	margin-bottom: 16px;
	font-size: 20px;
	text-align: justify;
}